@import 'blocks/font.styl'
@import 'blocks/mixins.styl'
@import 'blocks/var.styl'

@import 'blocks/header.styl'
@import 'blocks/menu.styl'

@import 'blocks/main.styl'
@import 'blocks/checkout.styl'

@import 'blocks/footer.styl'
@import 'blocks/contact.styl'
@import 'blocks/social.styl'
@import 'blocks/bottom-line.styl'

@import 'layout/l-grid.styl'
