body
    font-family 'Libertad Office'
    font-size 28px
    color black
    display flex
    flex-direction column
    min-height 100vh

.container
    position relative
    width 100%
    max-width 1717px
    min-width 320px
    padding 0 10px
    box-sizing border-box
    margin 0 auto

    @media (min-width 1200px)
        padding 0
