html
    box-sizing border-box

*, *:before, *:after
    box-sizing inherit

body
    min-width 320px
    font-family Libertad Office, arial, verdana
    font-size 18.67px // 28px / 1.5
    font-weight 400
    font-style normal
    color black
    display flex
    flex-direction column
    min-height 100vh

    @meida (min-width 1200px)
        font-size 28px

.container
    position relative
    max-width 1715px
    padding 0 10px
    margin-left auto
    margin-right auto

    @media (min-width 1727px)
        padding 0
