.bottom-line
    background-color $grey-color
    padding 20px 0

    p
        color white
        font-size 14.7px // 22px / 1.5
        text-align center
        margin 0
        margin-bottom 10px

        &:last-child
            margin-bottom 0

    @media (min-width 624px)
        text-align left

    @media (min-width 1200px)
        font-size 22px
        padding 20px 0
