.bottom-line
    background-color $grey-color
    color white
    font-size 14.7px // 22px / 1.5
    padding 10px 0
    text-align center

    @media (min-width 624px)
        text-align left

    @media (min-width 1200px)
        font-size 22px
        padding 20px 0
