.bottom-line
    background-color $grey-color
    padding 20px 0

    @media (min-width 1200px)
        padding 40px 0

    p
        hyphens()
        color white
        font-size 14.7px // 22px / 1.5
        text-align center

        @media (min-width 992px)
            text-align left

        @media (min-width 1200px)
            font-size 22px
