half()
    display inline-block
    width 48.5%
    margin-right 3%

third()
    display inline-block
    width 30%
    margin-right 5%

quickpay-img()
    background-size contain
    width 40px
    height 32px

visa()
    background inline('visa.png') center no-repeat
    background-size contain
    width 40px
    height 32px

visaelectron()
    background inline('visa-electron.png') center no-repeat
    background-size contain
    width 40px
    height 32px

mastercard()
    background inline('master-card.png') center no-repeat
    background-size contain
    width 40px
    height 32px

maestro()
    background inline('maestro.png') center no-repeat
    background-size contain
    width 40px
    height 32px

.checkout
    font-size 18.67px // 28px / 1.5

    @media (min-width 1200px)
        font-size 28px

    input, textarea
        width 100%
        background-color white
        border none
        padding 8px 10px
        margin-top 3px
        outline none
        resize none

    textarea
        padding 13px 17px
        height 87px
        vertical-align top

        @media (min-width 480px)
            height auto

    fieldset
        border none
        margin 0
        padding 0
        font-size 0

    &__title
        font-weight 700
        font-size 60px // 80px / 1.5
        margin 0
        margin-bottom 20px
        text-transform uppercase

        @media (min-width 1200px)
            font-size 80px
            margin-bottom 60px

    &__column
        @media (min-width 992px)
            half()
            vertical-align top

        &:nth-of-type(2n)
            margin-right 0

    &__path
        font-size 0
        @media (max-width 991px)
            margin-bottom 30px

        &_mb0
            margin-bottom 0

    &__subtitle
        font-weight 700
        font-size 22.6px // 34px / 1.5
        margin 0
        margin-bottom 15px
        margin-left 3px
        text-transform uppercase

        @media (min-width 1200px)
            font-size 34px
            margin-bottom 25px

    &__input
        line-height 30px
        margin-bottom 15px
        font-size 18.67px // 28px / 1.5

        @media (min-width 1200px)
            font-size 28px

        &_mb0
            margin-bottom 0

        label
            display inline-block
            width 100%
            line-height 17px

        &_half
            @media (min-width 480px)
                half()
                width 48%
                margin-right 4%

        &_third
            @media (min-width 480px)
                third()
                margin-bottom 36px

        &_mr0
            @media (min-width 480px)
                margin-right 0

    &__agreement
        font-size 18.67px // 28px / 1.5

        @media (min-width 480px)
            line-height 37px
            margin-bottom 0

        @media (min-width 1200px)
            font-size 28px

        input
            display inline-block
            width 14px
            margin-right 5px
            position absolute
            opacity 0

            & + label
                display block
                cursor pointer
                background-color $orange-light-color
                position relative
                padding 10px 0 10px 60px

                @media (min-width 480px)
                    padding 10px 35px 10px 55px
                    text-align center

                &:before
                    content ''
                    position absolute
                    left 8px
                    top 50%
                    transform translateY(-50%)
                    width 42px
                    height 42px
                    background-color white

                &:after
                    content ''
                    width 25px
                    height 15px
                    border-left 3px solid black
                    border-bottom 3px solid black
                    position absolute
                    left 18px
                    top 50%
                    transform translateY(-80%) rotate(-45deg)
                    opacity 0
                    transition all .15s linear

            &:checked
                & + label
                    &:after
                        opacity 1

    &__text-order
        width 100%
        background-color white
        padding 10px
        font-size 18.67px // 28px / 1.5

        @media (min-width 1200px)
            font-size 28px

        thead
            td
                padding-bottom 15px

        thead, tfoot
            font-weight 700

        td:last-child
            text-align right

    &__btn
        width 100%
        background-color white
        border none
        outline none
        font-weight 700
        margin-bottom 15px
        color $orange-normal-color
        cursor pointer
        font-size 18.67px // 28px / 1.5
        padding 0
        line-height 30px

        @media (min-width 1200px)
            font-size 28px
            margin 20px 0 !important

    &__quickpay
        display block
        color black
        position relative
        background-color $orange-light-color
        padding 10px
        text-decoration none

    &__quickpay-title
        margin-bottom 5px

        span
            display inline-block
            font-size 18.67px // 28px / 1.5
            margin-right 10px
            vertical-align middle

            @media (min-width 1200px)
                font-size 28px

    &__quickpay-img-wrap
        display inline-block
        vertical-align middle
        > *
            display inline-block
            margin-right 5px

            &:last-child
                margin-right 0

    &__visa-img
        background inline('visa.png') center no-repeat
        quickpay-img()
    &__visaelectron-img
        background inline('visa-electron.png') center no-repeat
        quickpay-img()
    &__mastercard-img
        background inline('master-card.png') center no-repeat
        quickpay-img()
    &__maestro-img
        background inline('maestro.png') center no-repeat
        quickpay-img()

    &__quickpay-desc
        p
            margin 0
            font-size 13.33px // 20px / 1.5
            margin-bottom 10px

            @media (min-width 1200px)
                font-size 20px

            &:last-child
                margin-bottom 0
