.contact
    margin-bottom 30px

    @media (min-width 624px)
        margin-bottom 0

    &__title
        font-size 26.7px // 40px / 1.5
        color $orange-dark-color
        font-weight 700
        margin 0
        margin-bottom 15px
        text-transform uppercase

        @media (min-width 1200px)
            font-size 40px
            margin-bottom 30px

    &__text
        p
            font-size 20px // 30px / 1.5
            color $grey-color
            margin 0
            margin-bottom 10px

            &:last-child
                margin-bottom 0

            @media (min-width 1200px)
                font-size 30px
