@font-face {
  font-family: 'Libertad Office';
  src: url('../fonts/Libertad Office Regular/Libertad Office.eot');
  src: url('../fonts/Libertad Office Regular/Libertad Office.woff2') format('woff2'),
       url('../fonts/Libertad Office Regular/LibertadOffice.woff') format('woff'),
       url('../fonts/Libertad Office Regular/LibertadOffice.ttf') format('truetype'),
       url('../fonts/Libertad Office Regular/LibertadOffice.svg#LibertadOffice') format('svg'),
       url('../fonts/Libertad Office Regular/Libertad Office.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Libertad Office';
  src: url('../fonts/Libertad Office Bold/Libertad Office Bold.eot');
  src: url('../fonts/Libertad Office Bold/Libertad Office Bold.woff2') format('woff2'),
       url('../fonts/Libertad Office Bold/LibertadOffice-Bold.woff') format('woff'),
       url('../fonts/Libertad Office Bold/LibertadOffice-Bold.ttf') format('truetype'),
       url('../fonts/Libertad Office Bold/LibertadOffice-Bold.svg#LibertadOffice-Bold') format('svg'),
       url('../fonts/Libertad Office Bold/Libertad Office Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}