@font-face {
  font-family: 'Libertad Office';
  src: url('../fonts/Libertad Office Regular/Libertad Office.woff2') format('woff2'),
       url('../fonts/Libertad Office Regular/LibertadOffice.woff') format('woff'),
       url('../fonts/Libertad Office Regular/LibertadOffice.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Libertad Office';
  src: url('../fonts/Libertad Office Bold/Libertad Office Bold.woff2') format('woff2'),
       url('../fonts/Libertad Office Bold/LibertadOffice-Bold.woff') format('woff'),
       url('../fonts/Libertad Office Bold/LibertadOffice-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
