.footer
    margin-top auto

    &__content
        padding 40px 0
        font-size 0

        @media (min-width 1200px)
            padding 55px 0 81px

    &__contact
        @media (min-width 624px)
            display inline-block
            width 50%
            vertical-align top

    &__social
        @media (min-width 624px)
            display inline-block
            width 50%
            text-align right
            vertical-align top
