.footer
    padding-top 40px
    margin-top auto

    @media (min-width 1200px)
        padding-top 60px

    &__contact
        @media (min-width 624px)
            display inline-block
            width 50%
            vertical-align top

    &__social
        @media (min-width 624px)
            display inline-block
            width 50%
            text-align right

    &__bottom-line
        margin-top 40px

        @media (min-width 1200px)
            margin-top 75px
