.header
	position relative
	background-color $orange-dark-color
	padding-top 20px
	@media (min-width 1200px)
		padding-top 46px
		padding-bottom 5px
	h1
		margin 0
	&__logo
		display block
		text-align center
		margin 0 auto
		margin-bottom 20px
		@media (min-width 768px)
			margin 0 auto
		@media (min-width 1200px)
			position absolute
			bottom 21px