clearfix()
    &:after
        content ""
        display table
        clear both

hyphens()
    word-wrap break-word
    overflow-wrap break-word
    -webkit-hyphens auto
    -ms-hyphens auto
    -moz-hyphens auto
    hyphens auto

ellipsis()
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
