.social
    &__title
        font-size 26.7px // 40px / 1.5
        color $orange-dark-color
        font-weight 700
        margin 0
        margin-bottom 15px
        text-transform uppercase

        @media (min-width 1200px)
            font-size 40px
            margin-bottom 30px

    &__nav
        padding 0

    &__item
        display inline-block
        margin-right 22px

        &:last-child
            margin-right 0

    &__link
        display inline-block
        border-radius 50%
        width 70px
        height 70px

        @media (min-width 1200px)
            width 110px
            height 110px

        &_facebook
            background $orange-dark-color inline('facebook-logo.svg') center / 60% no-repeat

        &_linkedin
            background $orange-dark-color inline('linkedin-logo.svg') center / 55% no-repeat

        &_google
            background $orange-dark-color inline('google-logo.svg') center / 70% no-repeat

    a
        &:focus
            outline-color #a35200
