social-icon()
    border-radius 50%
    width 70px
    height 70px

    @media (min-width 1200px)
        width 110px
        height 110px

.social
    &__title
        font-size 26.7px // 40px / 1.5
        color $orange-dark-color
        font-weight 700
        margin 0
        margin-bottom 15px
        text-transform uppercase

        @media (min-width 1200px)
            font-size 40px
            margin-bottom 30px

    &__facebook
        display inline-block
        margin-right 16px
        background $orange-dark-color inline('facebook-logo.svg') center no-repeat
        social-icon()

    &__linkedin
        display inline-block
        margin-right 16px
        background $orange-dark-color inline('linkedin-logo.svg') center no-repeat
        social-icon()

    &__google
        display inline-block
        background $orange-dark-color inline('google-logo.svg') center no-repeat
        background-size 75%
        social-icon()
